.footer{
    background-color: grey;
    text-align: center;
    color: rgb(168, 168, 168);
}

body{
    background-color: cornflowerblue;
}

.container{
    background-color: #eee;
    margin-top: 10%;
    margin-right: 20%;
}

.navbar{
    background-color: #eee
}

.jumbotron{
    margin-top: 10%;
    margin-right: 30%;
    margin-left: 5%;
    padding: 0;
}

a{
    color: grey;
}

img, p, h1{
    padding: 2%;
}
