body{
    background-image: url(https://64.media.tumblr.com/d9409db17dd27b159bfde55aee608c3c/d4d8859a63921697-27/s540x810/e54a8b8c67eadec631561da43907f3616326aa30.png);
    background-color: #cccccc;
}

a{
    color: grey;
}

.container{
    background-color: #eee;
    margin-top: 10%;
    margin-right: 20%;
    padding-bottom: 5%;
}

.navbar{
    position: relative;
}

#navbar-brand{
    background-color: purple;
    color: #eee;
    font-family: 'Lobster', cursive;
    font-size: xx-large;
}
/* added container within navbar to position content */
.container-2{
    position: absolute;
    left: 80%;
}

.jumbotron{
    margin: 10% 30% 8% 3%;
    padding: 0;
}

img, p, h1{
    padding: 2%;
}

h1{
    color: purple;
    font-family: 'Lobster', cursive;
}

.line{
    background-color: purple;
    height: 10px;
}

.footer{
    height: 50px;
    background-color: grey;
}

#bottom{
    text-align: center;
    color: rgb(168, 168, 168);
}

.form{
    padding-bottom: 10px;
}

.btn{
    color: #eee;
    background-color: purple;
}