/* Tried to organize content as it appears in html. */

/* Used url tag to display repeating image from online. */
body{
    background-image: url(https://image.freepik.com/free-vector/grey-square-pattern-background-vector-illustration_1164-1349.jpg);
    background-color: #cccccc;
}

*{
    font-family: 'Arima Madurai', cursive;
}

/* Changed link colors to grey. */
a{
    color: purple;
}

a:hover{
    transform: scaleY(1.1);
}

/* Added color and font styling to personalize. */
#navbar{
    background-image: linear-gradient(to bottom right, grey, white);
}

#navbar-brand{
    background-image: linear-gradient( purple, rgb(173, 50, 173), purple);
    color: #eee;
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 0px 70px;
}

.nav-item{
    font-size: 1.5rem;
}

/* Used margin and padding to arrange page content. */
.jumbotron{
    margin: 10% 30% 8% 3%;
    padding: 0;
}

.main-info{
    background-color: #eee;
    margin-top: 8%;
    padding-bottom: 5%;
}

.main-pad{
    margin-bottom: 45%;
}

p{
    font-size: 1.2rem;
}

img, p, h1{
    padding: 2%;
}

/* Changed padding around contact form to fit additional contact info correctly */
.contact-info{
    padding: 0%;
}

ul{
    list-style: none;
}

li{
    font-size: large;
}

#form-note{
    font-style: italic;
    font-size: small;
}

/* Added personal styling. */
h1{
    color: purple;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 3px grey;
}

#resume{
    text-shadow: 1px 1px grey;
    font-size: 1.3rem;
}

/* Adjusted view height of photo to be compatible with mobile view. */
.photo{
    height: 35vh;
}

.form{
    padding-bottom: 10px;
}

.btn{
    color: #eee;
    background-color: purple;
}

/* Positioned footer and corresponding elemtents at bottom of page. */
.footer{
    height: 100px;
    background-image: linear-gradient(to bottom right, grey, white);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

#line{
    background-image: linear-gradient( purple, rgb(173, 50, 173), purple);
    height: 10px;
    width: 100%;
}

#bottom{
    text-align: center;
    color: purple;
    width: 100%;
    margin: 0 auto;
    margin-top: 12px;
}
