/* Tried to organize content as it appears in html. */

/* Used url tag to display repeating image from online. */
body{
    background-color: #cccccc;
}

.parallax{

    /* The image used */
    background-image: url("./images/flower_background.jpg");
    /* Full height */
    height: 100%; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    
}

@media only screen and (max-width: 767px){
    .parallax{
        background-image: url("./images/flower_background_2.jpg");
        height: 100%; 
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 10%;
    }
}

*{
    font-family: 'Arima Madurai', cursive;
}

/* Changed link colors to grey. */
a, h3{
    color: rgb(99, 39, 155);
}

.footer-a{
    color: white;
}

h3{
    text-decoration: underline;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: rgb(99, 39, 155);
}


.nav-item{
    font-size: 1.5rem;
}

/* Used margin and padding to arrange page content. */
.jumbotron{
    /* margin: 10% 30% 8% 3%; */
    padding: 0;
}

.main-info{
    background-color: white;
    /* margin-top: 8%; */
    padding-bottom: 5%;
}

.main-pad{
    margin-bottom: 30%;
}

.page-head{
    padding-top: 20%;
    /* margin-top: 10%; */
}

#about{
    margin: 0 auto;
    margin-bottom: 30%;
}

p{
    font-size: 1.2rem;
}

img, p, h1{
    padding: 2%;
}

/* Changed padding around contact form to fit additional contact info correctly */
.contact-info{
    padding: 0%;
}

#contact-container, #portfolio-container{
    padding-top: 5%;
}

ul{
    list-style: none;
}

li{
    font-size: large;
}

#form-note{
    font-style: italic;
    font-size: small;
}

/* Added personal styling. */
h1{
    color: rgb(99, 39, 155);
    font-family: 'Lobster', cursive;
    text-shadow: 3px 3px grey;
}

#resume{
    text-shadow: 1px 1px grey;
    font-size: 1.3rem;
}

/* Adjusted view height of photo to be compatible with mobile view. */
#photo{
    width: 40vw;
}

.form{
    padding-bottom: 10px;
}

.btn{
    color: #eee;
    background-color: rgb(99, 39, 155);
}
